/* ========================= */
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    font-family: Calibri, 'Inter', sans-serif;
    background: #000;
    color: white;
    overflow-x: hidden;
}

/* ========================= */
/* BACKGROUND CROSSFADE */
.bg-container {
    position: fixed;
    inset: 0;
    z-index: -2;
}

.bg-image {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.bg-image.active {
    opacity: 1;
}

/* ========================= */
/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-weight: 700;
    letter-spacing: 2px;
}

.links a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: 0.3s;
}

.links a:hover {
    opacity: 1;
}

/* ========================= */
/* SECTIONS */
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    text-align: center;
    padding: 100px 20px;
}

/* HERO SPACING */
.hero {
    padding-top: 300px;
}

/* SECTION SPACING */
.section2,
.section3 {
    padding-top: 120px;
}

/* ========================= */
/* OVERLAY */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

/* ========================= */
/* CONTENT */
.content,
.hero-content {
    position: relative;
    max-width: 800px;
}

/* ========================= */
/* TEXT */
h1 {
    font-size: 5rem;
    letter-spacing: 3px;
}

h2 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    margin-top: 10px;
    opacity: 0.8;
}

/* ========================= */
/* TEXT FADE (SCROLL) */
.fade-section {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ========================= */
/* MOBILE */
@media (max-width: 768px) {

    .hero-content {
        margin-top: -250px;
    }

    nav {
        flex-direction: column;
        padding: 15px;
    }

    .links {
        margin-top: 10px;
    }

    .links a {
        margin: 0 10px;
        font-size: 0.85rem;
    }

    section {
        padding: 90px 15px;
    }

    h1 {
        font-size: 1.8rem;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 1.6rem;
    }

    .section2,
    .section3 {
        padding-top: 80px;
        background-position: center;
    }

    .content {
        padding: 0 15px;
    }
}
